h1 {
	font-family: Calibri, sans-serif;
}
.parblock {
	font-family: Calibri, sans-serif;
	font-size: 1em;
	line-height: 1.15;
}

body {
	margin: 10px 20% 0px 20%;
    background-color: #f7f5f0;
}

.coursepic {
	max-width: 60%;
	max-height: 150px;
}

@media (pointer:none), (pointer:coarse), (max-width: 800px) {
	.parblock {
		font-size: 1em;
		line-height: 1.25;
	}

	h1 {
		font-size: 3em;
	}

	hr {
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.coursepic {
		max-width: 85%;
		max-height: 150px;
	}

	body {
		margin: 1em 1em 1em 1em;
	}

}

a {
	color: #0077dd;
    text-decoration: none;
}

a:visited {
	color: #aa00bb; 
}

a:hover {
		background-color: #323232;
		color: #d7ebfa;
}