/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after, q:before, q:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Clearing Floats */

.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

/* Main Styles */

body {
    font-size: 13px;
    font-family: 'Tahoma', 'Helvetica', 'Arial', sans-serif;
    color: #323232;
    /*background: #f7f5f0 url(../images/background.png) no-repeat right top;*/
    margin-top: 100px;
}

a {
    background-color: #b6ebe3;
    text-decoration: none;
}

    a:hover {
        background-color: #323232;
        color: #b6ebe3;
    }

#page {
    max-width: 100%;
    margin: 0 auto;
}

header {
    font-family: 'Allerta', 'Segoe UI', sans-serif;
    float: left;
    max-width: 100%;
    margin-right: 100px;
}

    header p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }

nav {
    margin-top: 30px;
}

    nav a {
        background: transparent;
        text-decoration: none;
        color: #323232;
        font-size: 18px;
        padding: 10px 15px 8px 15px;
        display: inline-block;
        text-transform: uppercase;
        border-top: 2px solid transparent;
        outline: none;
    }

        nav a:hover {
            background-color: #323232;
            color: #b6ebe3;
            border-top: 2px solid #b6ebe3;
        }

        nav a.current {
            background-color: #323232;
            color: #b6ebe3;
            border-top: 2px solid #b6ebe3;
        }

section {
    max-width: 100%;
    background-color: #fff;
    float: left;
    padding: 20px;
    border-top: 7px solid #b6ebe3;
}

    section p {
        margin-bottom: 12px;
        line-height: 150%;
    }

h1 {
    font-size: 20px;
    margin-bottom: 15px;
}

.title {
    font-size: 3.2em;
    line-height: 1em;
    margin-bottom: 17px;
}

.intro{
    /*background: #f7f5f0 url(../images/background.png) no-repeat right top;*/
    padding: 10px;
}

